*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width:440px){

    .Mhero{
        width: 100%;
        height: 100vh;
        background: #021024;
        overflow: hidden;
    }

    .Mhero nav{
        height: 12%;
        width: 100%;
        background:  #C1E8FF;
        position: relative;
    }

    .Mhero nav ul{
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
    }
        
    .Mhero nav ul li{
        list-style: none;
        padding: 7px;
        background-color: white;
        margin: 8px;
        border-radius: 15px;
    }

    .Mhero nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    .Mhero nav .fa{
        position: absolute;
        right: 5%;
        font-size: 27px;
        top: 9%;
    }

}